.column {
  position: relative;
}
.column:nth-child(1) {
  top: -105%;
}
.bac {
  background-image: linear-gradient(#064426 2px, transparent 2px),
    linear-gradient(to right, #064426 2px, transparent 2px);
  background-size: 60px 60px;
  background-color: #064929;
}
